@font-face {
  font-family: 'Futura Book';
  src:
  url('../fonts/futura/futuraBookC.woff') format('woff'),
  url('../fonts/futura/futuraBookC.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
  }
  @font-face {
    font-family: 'Futura Demi';
    src:
    url('../fonts/futura/futuraDemiC.woff') format('woff'),
    url('../fonts/futura/futuraDemiC.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: wrap;
    }