@media screen and ( max-width: 1200px  )
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem
@media screen and ( max-width: 992px )
  .nav
    display: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
  .row_1
    flex-direction: column
 
@media screen and ( max-width: 570px )
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
    &__button
      display: none
  .title
    font-size: 1.64rem
  .hero
    &__scroll-dawn
      display: none
    &__content
      max-width: 22.86rem
    &__text
      font-size: 1.29rem
      margin-bottom: 2.28rem
    &__button
      display: block
      min-width: 22.86rem
      margin-bottom: 1.85rem
  .row
    flex-wrap: wrap    
  .col
    &-50
      width: auto 
   
      
@media screen and ( max-height: 550px )
  .hero
    &__scroll-dawn
      display: none
@media screen and ( min-width: 761px )
  .design
    background-color: $light 
    &__heading
     font-size: 1.44rem;
     text-transform: none
    
    &__section-title
     display: inline
     color: $dark

    &__description
     display: flex
     margin: 1.2rem auto 1rem auto
     width: 55rem !important
     height: 4.07rem 
     text-transform: none 
     color: #363636;
     font-family: 'Futura Book'
     margin-top: 1.4rem;
     font-size: 1.5rem;
     line-height: 1.9rem;

          
  .row
   flex-direction: row
   justify-content: space-between
   flex-wrap: wrap
   
    
  .card
    flex-basis: 32%
    &__pricetag
     bottom: -2.79rem
    &__title
      color: #363636     
@media screen and ( max-width: 760px)
  .row
    flex-wrap: wrap
    
  .swiper
    &-slide
      img
        max-width: 24.28rem
        margin-top: 13.86rem
        

  .col-mobile
    order: -1   
@media screen and ( max-width: 570px)

  .row
    flex-wrap: wrap
  .swiper
    max-width: 24.28rem
    &-slide
      img
        margin-top: 13.86rem
    &-wrapper
      max-width: 24.28rem    
      
        
  .col-mobile
    order: -1  
    
      
      
      
      
 
  


      



  
  
  