@media screen and ( max-width: 1200px  )
  html
    font-size: 12px
  .nav
    
    &__item
      margin-right: 1rem
@media screen and ( max-width: 991px )
  .nav
    display: none
  .hero
    
    &__instagram
      display: none
    &__content
      margin-left: 0
      
  .row_1
    flex-direction: column
 
@media screen and ( max-width: 570px )
  .section
    &-title  
      display: block
      &__image
       margin-bottom: 1.65rem 
      &__text
        display: block
        // display: inline
        max-width: 21.78rem
        text-align: center
        margin: auto

      &__word
        display: block
        ::after
          display: none
      &--left
        text-align: center    
      
      
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
    &__button
      display: none
  .title
    font-size: 1.64rem
  .hero
    &__title
      line-heght: 2rem
    &__scroll-dawn
      display: none
    &__content
      max-width: 22.86rem
    &__text
      font-size: 1.29rem
      margin-bottom: 2.28rem
    &__button
      display: block
      min-width: 22.86rem
      margin-bottom: 1.85rem
  .row
    flex-wrap: wrap    
  .col
    &-50
      width: auto 
    .row
    flex-wrap: wrap
  .card
    &__pricetag
      &--area
        vertical-align: baseline  
        font-size: 1.09rem
    &__item
      &--none
        display: none
      
       
        
  .project
    max-width: 24.28rem 
  .swiper
    max-width: 24.28rem
    &-slide
      img
        margin-top: 13.86rem
    &-wrapper
      max-width: 24.28rem    
      
        
  .col-mobile
    order: -1  

  .control
    background-color: $dark 
    &__text
      color: $light
    &__label
      color: rgba($light, 0.5)
    &__input::placeholder
      color: $light 
       
    
    &__input-group
      flex-basis: 100%
      margin-left: 0
      margin-bottom: 5.14rem
      
    &__button
      margin: auto
      // padding: 1.1rem 6.78rem 
      margin-bottom: -6.5rem
    &__video
      min-height: 17.25rem
  
        
      

    


  .policy
    &__label
      color: $light
      margin-left: -0.1rem
      margin-top: 20px
      justify-content: flex-start
      &--center
      // margin-left: -2.5rem
      // margin-top: -1.8rem


  .ctrl
    display: flex
    flex-wrap: wrap

    &__polisy
      order: -1
      margin-top: -6rem
      
    &__bottom
      padding: 1.1rem 9rem
      

      
  .form
    display: flex
    flex-direction: row
    flex-wrap: wrap
  .input
    border-bottom: 1px solid rgba($light ,0.3 )

  
      
  .footer
    display: flex
    flex-direction: colum
    background: $dark
    padding-bottom: 2rem
    justify-content: center
    &__input
      &-group
        position: relative
        
        &--max-width,&--full-width
          flex-basis: 100%  
          margin-top: 1.4rem
          margin-bottom: 2rem
          
        
        
    &__form
      display: flex
      flex-direction: row
      align-items: flex-start
      flex-basis: 100%
      margin-left: -2.5rem
    &__wrap
      display: flex
      flex-direction: column
      max-width: 24.28rem
      
    &__button
      display: flex
      padding: 1rem 8rem
      margin: 0
      justify-content: center
      
      
    &__group
      display: flex
      flex-direction: column
    &__map
       
      

      
      
    &__adress
      display: flex
       

      &--heading
        max-width: 24.28rem
        
      &--map
        order: -1
        text-align: center
        max-height: 5rem
         

        
    &__menu
      display: none

        
   
      
@media screen and ( max-height: 550px )
  .hero
    &__scroll-dawn
      display: none
@media screen and ( min-width: 761px )
  .design
    background-color: $light 
    &__heading
     font-size: 1.44rem;
     text-transform: none
    
    &__section-title
     display: inline
     color: $dark

    &__description
     display: flex
     margin: 1.2rem auto 1rem auto
     max-width: 55rem !important
     height: 4.07rem 
     text-transform: none 
     color: #363636;
     font-family: 'Futura Book'
     margin-top: 1.4rem;
     font-size: 1.5rem;
     line-height: 1.9rem;

          
  .row
   flex-direction: row
   justify-content: space-between
   flex-wrap: nowrap
   align-items: flex-start
   
    
  .card
    flex-basis: 32%
    &__text
      margin-left: 0
     

    &__pricetag
     bottom: -2.79rem
    &__title
      color: #363636     
@media screen and ( max-width: 760px)
  .row
    flex-wrap: wrap
    
  .swiper
    &-slide
      img
        max-width: 24.28rem
        margin-top: 13.86rem
        

  .col-mobile
    order: -1   



     

    

  
      
    
  
    

      
    
       

  

    
       

  
      
      
        
       
    
      
      
      
      
 
  


      



  
  
  